@import url("reset.css");

body {
	background: #fff;
	color: #4c4c4c;
	font: normal 62.5% "Trebuchet MS", Arial, sans-serif;
}

a {color:#1370aa}
a:hover {color:#edb209}

h1 {
	color: #4c4c4c;
	font: bold 1.85em/1 "Trebuchet MS", Arial, sans-serif;
	margin: 0 0 0.63em;
}

h2 {
	color: #4c4c4c;
	font: bold 1.54em/1 "Trebuchet MS", Arial, sans-serif;
	margin: 0 0 1em;
}

h3 {
	
}

h4 {
	
}

p {
	margin: 0 0 1em;
}

.intro {
	font-size: 1.23em;
	line-height: 1.5em;
	margin-right: 120px;
}

ol {
	list-style-type: decimal;
	margin: 0 0 1em 24px;
}

ol li {
	margin: 0 0 1em;
}