nbproject
/upload/*
/assets/*
*.zip
upload
*~
bugs
/bugs/*
/protected/runtime/*
protected/runtime/*
protected/config/dev.xml.php
protected/config/dev.main.php
protected/config/dev.console.php

protected/runtime/application.log

.DS_Store
