#cssmenu{ height:45px; display:block; padding:0; margin: 0;  border:1px solid; border-radius:5px; float:left;} 
#cssmenu > ul {list-style:inside none; padding:0; margin:0; font-size: 1.5em;} 
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative; height: 45px;} 
#cssmenu > ul > li > a{ outline:none; display:block; position:relative; padding: 12px 30px; font-size: 15px; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4);} 
#cssmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;} 
#cssmenu > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#cssmenu > ul > li.has-sub > a:before{ content:''; position:absolute; top:20px; right:6px; border:5px solid transparent; border-top:5px solid #fff; } 
#cssmenu > ul > li.has-sub:hover > a:before{top:20px;} 
#cssmenu ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; z-index:999; } 
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;} 
#cssmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;} 

#cssmenu ul li.has-sub ul li.has-sub ul{margin-left:100%; position:absolute; top:0px;} 
#cssmenu ul li.has-sub ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#cssmenu ul li.has-sub > ul > li.has-sub > a:before{ content:""; position:absolute; top:14px; right:6px; border:5px solid transparent; border-left:5px solid #fff; } 
#cssmenu ul li.has-sub > ul > li.has-sub:hover > a:before{} 

#cssmenu ul li > ul, #cssmenu ul li > div{ display:none; width:auto; position:absolute; top:45px; background:#3f3f3f; border-radius:0 0 5px 5px; z-index:999; } 
#cssmenu ul li > ul{width:200px;} 
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#cssmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font-size: 15px; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 


#cssmenu, #cssmenu > ul > li > ul > li a:hover{ background:#454545; background:-moz-linear-gradient(top, #454545 0%, #333333 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#333333)); background:-webkit-linear-gradient(top, #454545 0%,#333333 100%); background:-o-linear-gradient(top, #454545 0%,#333333 100%); background:-ms-linear-gradient(top, #454545 0%,#333333 100%); background:linear-gradient(top, #454545 0%,#333333 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#333333',GradientType=0 ); } 
#cssmenu > ul > li > ul > li:last-child a{border-radius:0 0 5px 5px;}
#cssmenu{border-color:#000;} 
#cssmenu > ul > li > a{border-right:1px solid #000; color:#fff;} 
#cssmenu > ul > li > a:after{border-color:#444;} 
#cssmenu > ul > li > a:hover{background:#111;}

#cssmenu li.active{background:#111;}
#cssmenu li.active > a{color: #aaa;}